version: "3.9"

services:

  db:
    image: mysql:8
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: saas_platform
      MYSQL_USER: app_service
      MYSQL_PASSWORD: S3rv!ceDB#2025
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

  backend:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
    container_name: backend
    restart: always
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_DATABASE: saas_platform
      DB_USERNAME: app_service
      DB_PASSWORD: S3rv!ceDB#2025
    volumes:
      - ./backend:/var/www

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  frontend:
    build:
      context: .
      dockerfile: docker/frontend/Dockerfile
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  dbdata:
